.details {
    padding: 20px 0;
    background: #fff;
}

body {
    background: #f8f8f8;
}

.from-box {
    overflow: hidden;
}

.from-box label.txt {
    display: block;
    margin-bottom: 10px;
    color: #bebebe;
}

.from-box input::-webkit-input-placeholder {
    color: #282828;
}

.from-box .input:-moz-placeholder {
    color: #282828;
}

.from-box .input:-ms-input-placeholder {
    color: #282828;
}

.from-box .from-box-1 {
    float: left;
    display: block;
    margin-right: 18px;
}

.from-box .from-box-2 {
    float: right;
    display: block;
    /* margin-left: 18px; */
}

.from-box .fob-input {
    position: relative;
    /* width: 279px; */
    width: 319px;
    height: 41px;
    background: #fff;
    line-height: 41px;
    border: 1px solid #f2f2f2;
    border-radius: 6px;
}

.from-box .ipt-box {
    font-size: 18px;
    margin-left: 30px;
    height: 38px;
    line-height: 38px;
    border: none;
    width: 285px;
    border-radius: 6px;
}

.from-box .origin {
    color: #072c4c;
    font-size: 20px;
}

.from-box .Destination {
    color: #ff9808;
    font-size: 20px;
}

.from-box .input__prefix {
    position: absolute;
    top: -2px;
    left: 10px;
    height: 100%;
    text-align: center;
}

.from-box .el-date-editor.el-input,
.from-box .el-date-editor.el-input__inner {
    width: 200px;
    /* width: 180px; */
}

.from-box .el-input__inner {
    border: 1px solid #f2f2f2;
    border-radius: 6px;
}

.from-box .icon-wangfan-1 {
    float: left;
    color: #95abbe;
    font-size: 24px;
    font-weight: 700;
    margin: 8px 15px 0 0px;
}

.from-box .date-radio {
    float: left;
    width: 50px;
    /* padding-top: 20px; */
}

.from-box .date-radio .el-radio {
    margin-right: 0;
    font-size: 14px;
    margin-top: 6px;
}

.from-box .searchBtn {
    width: 100%;
    height: 42px;
    line-height: 0px;
    background-color: #072c4c;
    color: #fff;
    font-size: 18px;
    text-align: center;
    border: none;
    /* margin-top: 21px; */
}

.from-box .searchBtn:hover {
    background-color: #395670;
}

.de-content {
    /* margin-top: 20px; */
    width: 100%;
}

.de-content .con-header {
    height: 110px;
    background: #072c4c;
    padding: 15px;
    color: #fff;
    font-size: 14px;
}

.de-content .shipper {
    width: 100%;
}

.de-content .shipper p {
    /* margin-top: 20px; */
    font-weight: normal !important;
    /* margin-left: 20px !important; */
    /* padding-left: 6px; */
}

.de-content .shipper .vivMar {
    /* float: right; */
    transform: translate(0, 10px);
    font-size: 14px;
}

.de-content .shipper ul {
    clear: both;
    overflow: hidden;
    display: inline-block;
    vertical-align: middle;
}

.de-content .shipper .ulHeader {
    width: 100%;
}

.de-content .shipper .ulHeader .ulHeaderCenter {
    width: 30%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-left: 10px;
}

.de-content .shipper .ulHeader .ulHeaderFooter {
    width: auto;
    line-height: 39px;
    float: right;
}

.de-content .shipper .ulHeader p {
    line-height: 39px;
}

.de-content .shipper ul>li {
    width: 41px;
    float: left;
    position: relative;
    margin-right: -10px;
}

.de-content .shipper ul>li:nth-last-of-type(1) {
    margin: 0;
}

.de-content .shipper ul>li img {
    border-radius: 100%;
    /* box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.17); */
    border: 2px solid #072c4c;
    background: #f5f5f5;
}

.de-content .shipper ul>li:first-child {
    z-index: 99;
}

.de-content .shipper ul>li:nth-child(2) {
    z-index: 98;
}

.de-content .shipper ul>li:nth-child(3) {
    z-index: 97;
}

.de-content .shipper ul>li:nth-child(4) {
    z-index: 96;
}

.de-content .shipper ul>li:nth-child(5) {
    z-index: 95;
}

.de-content .shipper ul>li:nth-child(6) {
    z-index: 94;
}

.de-content .shipper ul>li:nth-child(7) {
    z-index: 93;
}

.de-content .shipper ul>li:nth-child(8) {
    z-index: 92;
}

.de-content .shipper ul>li:nth-child(9) {
    z-index: 91;
}

.de-content .voyage {
    /* padding-top: 64px; */
    text-align: right;
}

.de-content .ship-main {
    background: #fff;
    padding: 30px 15px 0 15px;
    font-size: 18px;
    text-align: center;
    height: 188px;
}

.de-content .ship-main .Origin-txt h5 {
    font-size: 28px;
    margin-bottom: 6px;
}

.de-content .ship-main .Origin-txt p {
    margin-bottom: 15px;
}

.de-content .ship-main .arrow {
    background: url("../images/arrow.png") center no-repeat;
    width: 160px;
    height: 20px;
    margin-top: 23px;
    padding-top: 60px;
}

.ship-main-direct {
    background: #fff;
    font-size: 18px;
    text-align: center;
    height: 239px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
}

.ship-main-direct .Origin-txt h5 {
    font-size: 28px;
    margin-bottom: 6px;
}

.ship-main-direct .Origin-txt p {
    margin-bottom: 15px;
    height: 24px;
}

.ship-main-direct .direct-list div {
    float: left;
    font-size: 22px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    /* width: 100px; */
}

.ship-main-direct .direct-list-img {
    padding: 0 15px;
}

.ship-main-direct .bottom {
    margin-top: 30px;
}

.data-table {
    font-size: 12px;
    line-height: 40px;
    padding: 15px 0 15px 15px;
    background: #fff;
    overflow: hidden;
    color: #282828;
}

.data-table p {
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.data-table .data-th {
    height: 40px;
    /* border-bottom: 1px solid #f7f7f7; */
}

.data-table .data-td {
    height: 40px;
}

.data-table a.btn {
    display: block;
    width: 78px;
    line-height: 30px;
    height: 30px;
    border-radius: 20px;
    background: #072c4c;
    color: #fff;
    margin: 5px auto 0 auto;
    font-size: 12px;
}

.data-table a.btn:hover {
    background-color: #395670;
}

.declare {
    margin: 25px 3.8%;
    margin-top: 15px;
    overflow: hidden;
    text-align: justify;
}

.declare h5 {
    font-size: 14px;
    line-height: 24px;
    color: #909090;
}

.declare p {
    font-size: 14px;
    line-height: 24px;
    color: #909090;
}

.declare dl {
    line-height: 30px;
    clear: both;
    padding: 0 15px;
    height: 100%;
}

.declare dt {
    float: left;
}

.declare dd {
    float: left;
}

.declare dd a {
    color: #a1b2c3;
    margin-right: 1em;
    display: block;
    float: left;
}

.declare dd.longer {
    width: 1100px;
}

.tab-box {
    margin-top: 20px;
    overflow: hidden;
}

.tab-box .icon-RectangleCopy {
    font-size: 26px;
    vertical-align: middle;
    margin-right: 10px;
}

.tab-box ul>li {
    float: left;
    padding: 15px 30px 12px 30px;
    font-size: 18px;
    max-height: 53px;
    cursor: pointer;
}

.tab-box li.active {
    color: #072c4c;
    border-top: 2px solid #072c4c;
    background: #fff;
}

.max-transit {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100px;
}

.max-transit-polpod {
    max-width: 200px;
}