.fob-banner {
  position: relative;
  min-width: 1200px;
}
.fob-banner .banner-main {
  position: relative;
  width: 100%;
  overflow: hidden;
  text-align: center;
  user-select: none;
  -webkit-user-select: none;
  /* height: 1080px; */
  /* background-image: url('../images/newbanner.png'); */
  background-position: center 0px;
  background-repeat: no-repeat;
  background-size: cover;
}
.fob-banner .banner-main .banner-wrapper {
  width: 100%;
  height: 100%;
  /* position: relative; */
  /* top: 50%;
  left: 50%;
  transform: translate(-50%,-50%); */
}
/* .newbanner{
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
} */
/* .fob-banner .banner-main .banner-wrapper ul li {
  height: 500px;
} */
/* .fob-banner .banner-main .banner-wrapper .banner_txt {
  width: 100%;
  text-align: center;
  margin: 0px auto;
  position: absolute;
  top: 300px;
  z-index: 99;
  color: #fff;
} */
.fob-banner .banner-main .banner-wrapper .banner_txt h1 {
  color: #fff;
  font-size: 60px;
  margin-bottom: 38px;
  letter-spacing: 0.3em;
}
.fob-banner .banner-main .banner-wrapper .banner_txt p {
  font-size: 30px;
}
.fob-banner .banner-main .banner-wrapper .searchBox-main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 880px;
  z-index: 100;
  color: #282828;
  height: 350px;
}
.fob-banner .banner-main .banner-wrapper .searchBox-main input::-webkit-input-placeholder {
  color: #282828;
}
.fob-banner .banner-main .banner-wrapper .searchBox-main .input:-moz-placeholder {
  color: #282828;
}
.fob-banner .banner-main .banner-wrapper .searchBox-main .input:-ms-input-placeholder {
  color: #282828;
}
.fob-banner .banner-main .banner-wrapper .searchBox-main .portname {
  text-align: left;
  color: #bebebe;
  padding-left: 1em;
}
.fob-banner .banner-main .banner-wrapper .searchBox-main .searchBox {
  width: 867px;
  height: 69px;
  background: #fff;
  border-radius: 6px;
  margin: 0 auto;
}
.fob-banner .banner-main .banner-wrapper .searchBox-main .searchBtn {
  width: 200px;
  height: 54px;
  background-color: #072c4c;
  border-radius: 6px;
  color: #fff;
  font-size: 20px;
  text-align: center;
  border: none;
  margin-top: 64px;
  cursor:pointer;
}
.fob-banner .banner-main .banner-wrapper .searchBox-main .port {
  width: 275px;
  float: left;
  padding: 13px 0px  0 15px;
}
.fob-banner .banner-main .banner-wrapper .searchBox-main .origin {
  color: #ff9808;
  font-size: 20px;
}
.fob-banner .banner-main .banner-wrapper .searchBox-main .Destination {
  color: #072c4c;
  font-size: 20px;
}
.fob-banner .banner-main .banner-wrapper .searchBox-main .icon-wangfan-1 {
  float: left;
  color: #95abbe;
  font-size: 24px;
  margin-top: 25px;
  font-weight: 700;
}
.fob-banner .banner-main .banner-wrapper .searchBox-main .ipt-box {
  width: 230px;
  height: auto;
  line-height: inherit;
  border: none;
  font-size: 18px;
}
.fob-banner .banner-main .banner-wrapper .searchBox-main .dateBox {
  border-left: 1px solid #cccccc;
  float: left;
  text-align: left;
  width: 208px;
  height: 100%;
  padding: 13px 0 0 10px;
}
.fob-banner .banner-main .banner-wrapper .searchBox-main .dateBox .dateBoxIpt {
  float: left;
}
.fob-banner .banner-main .banner-wrapper .searchBox-main .dateBox .dateBoxIpt .el-date-editor.el-input {
  width: 166px;
  float: left;
}
.fob-banner .banner-main .banner-wrapper .searchBox-main .dateBox .dateBoxIpt .el-input__inner {
  border: none;
  color: #282828;
  height: 39px;
  /* margin-top: 7%; */ 
}

.fob-banner .banner-main .banner-wrapper .searchBox-main .date-radio {
  float: left;
  width: 50px;
  padding-top: 6px;
}
.fob-banner .banner-main .banner-wrapper .searchBox-main .date-radio .el-radio {
  margin-right: 0;
  font-size: 14px;
  margin-top: 10px;
}
.fob-banner .banner-main .banner-wrapper .searchBox-main .el-radio__input.is-checked + .el-radio__label {
  color: #282828;
}
.fob-banner .banner-main .banner-wrapper .searchBox-main .el-radio__input.is-checked .el-radio__inner {
  border-color: #282828;
  background: #282828;
}
.fob-banner .banner-main .banner-wrapper .index_banner_1 {
  /* background-image: url('../images/newbanner.png');
  background-position: center 0px;
  background-repeat: no-repeat;
  background-size: 100%; */
}
.superiority {
  margin-top: 50px;
}
.superiority .superiority-box {
  background: url("../images/tabbg.png") no-repeat;
  width: 290px;
  height: 316px;
  text-align: center;
}
.superiority .superiority-box img {
  margin: 78px auto 30px auto;
}
.superiority .superiority-box h3 {
  font-size: 20px;
  font-weight: 500;
}
.partners {
  margin-top: 100px;
  margin-bottom: 20px;
  text-align: center;
}
.partners h1 {
  font-size: 32px;
  font-weight: 500;
}
.partners h2 {
  font-size: 26px;
  margin-top: 20px;
  font-weight: 500;
  margin-bottom: 66px;
}
.partners .logo-box {
  background: #fff;
  width: 182px;
  height: 81px;
  margin-bottom: 22px;
  box-shadow: 0px 2px 11px 0px rgba(0, 0, 0, 0.17);
}
.partners .logo-box img {
  width: 100%;
}
.fob-banner .banner-main .banner-wrapper .searchBox-main .searchBtn:hover{
  background-color: #395670;
}
.messages_customClass{
  width: 428px !important;
  height: 158px !important;
  border-radius: 4px !important;
}
.messages_customClass .el-message-box__title{
  font-weight: 600;
}
.messages_customClass .el-message-box__content{
  padding: 25px 10px 24px 10px !important;
}
.messages_customClass .el-message-box__headerbtn .el-message-box__close{
  color: #909090;
}