@media screen and (max-width: 1800px) {}

@media screen and(min-width: 1500px) and (max-width: 1855px) {
    #Home-search {
        .homeSearchShip {
            top: auto !important;
        }
        .homeHeader {
            width: 100% !important;
            align-items: center !important;
            display: flex !important;
            .homeHeaderMap {
                background-size: 587px 373px !important;
                width: 587px !important;
                height: 373px !important;
            }
            .homeHeaderMapleft {
                img {
                    width: 617px !important;
                    height: 364px !important;
                }
            }
            .homeHeaderShip {
                background-size: 565px 272px !important;
                width: 565px !important;
                height: 272px !important;
                margin-left: 331px !important;
            }
            .homeHeaderShipRight {
                img {
                    width: 428px !important;
                    height: 339px !important;
                }
            }
        }
        .homeContent {
            .homeContentInforRight {
                background-size: 1010px 1442px !important;
                width: 1010px !important;
                height: 1442px !important;
            }
            .homeContentInforLeft {
                background-size: 943px 1344px !important;
                width: 943px !important;
                height: 1344px !important;
            }
        }
    }
    .loginLeftTop {
        margin-bottom: 50px !important;
    }
}

@media screen and(min-width: 1366px) and (max-width: 1499px) {
    .regist .dialogAgreement .el-dialog {
        width: 400px !important;
    }
    .regist .dialogAgreement .el-dialog .el-dialog__body {
        height: 400px !important;
    }
    #Home-search {
        .homeSearchShip {
            top: auto !important;
        }
        .homeHeader {
            width: 100% !important;
            align-items: center !important;
            display: flex !important;
            .homeHeaderMap {
                background-size: 536px 341px !important;
                width: 536px !important;
                height: 341px !important;
            }
            .homeHeaderMapleft {
                img {
                    width: 562px !important;
                    height: 332px !important;
                }
            }
            .homeHeaderShip {
                background-size: 515px 249px !important;
                width: 515px !important;
                height: 249px !important;
                margin-left: 290px !important;
            }
            .homeHeaderShipRight {
                img {
                    width: 390px !important;
                    height: 310px !important;
                }
            }
        }
        .homeContent {
            .homeContentInforRight {
                background-size: 920px 1313px !important;
                width: 920px !important;
                height: 1313px !important;
            }
            .homeContentInforLeft {
                background-size: 860px 1223px !important;
                width: 860px !important;
                height: 1223px !important;
            }
        }
    }
    .loginLeftTop {
        margin-bottom: 0px !important;
    }
    .logins .formContent .loginButton {
        margin-top: 140px !important;
    }
    .regist .perfectInformation .loginButton {
        margin-top: 17px !important;
    }
    .regist .formContent .demo-ruleForms {
        margin-top: 15px !important;
    }
    .regist .formContent .demo-ruleForm {
        margin-top: 15px !important;
    }
    .fob-header-nav .menu {
        li {
            font-size: 14px !important;
        }
    }
    .fob-header-nav .m-login {
        div {
            font-size: 14px !important;
        }
        .userinfo .pro-user-name {
            font-size: 14px !important;
        }
    }
    .footerBtn .el-button {
        // width: 480px !important;
    }
    .header .innerInfo {
        .lineChart {
            .chartLineCl {
                width: 431px !important;
            }
            .chartLineCls {
                width: 430px !important;
            }
        }
    }
    .Agreement .el-dialog__title {
        font-size: 16px !important;
    }
}

@media screen and(min-width: 1200px) and (max-width: 1365px) {
    .regist .dialogAgreement .el-dialog {
        width: 400px !important;
    }
    .regist .dialogAgreement .el-dialog .el-dialog__body {
        height: 400px !important;
    }
    #Home-search {
        .homeSearchShip {
            top: auto !important;
        }
        .homeHeader {
            width: 100% !important;
            align-items: center !important;
            display: flex !important;
            .homeHeaderMap {
                background-size: 472px 301px !important;
                width: 472px !important;
                height: 301px !important;
            }
            .homeHeaderMapleft {
                img {
                    width: 495px !important;
                    height: 292px !important;
                }
            }
            .homeHeaderShip {
                background-size: 453px 220px !important;
                width: 453px !important;
                height: 220px !important;
                margin-left: 240px !important;
            }
            .homeHeaderShipRight {
                img {
                    width: 343px !important;
                    height: 247px !important;
                }
            }
        }
        .homeContent {
            .homeContentInforRight {
                background-size: 808px 1154px !important;
                width: 808px !important;
                height: 1154px !important;
            }
            .homeContentInforLeft {
                background-size: 755px 1075px !important;
                width: 755px !important;
                height: 1075px !important;
            }
        }
    }
    .loginLeftTop {
        margin-bottom: 0px !important;
    }
    .logins .formContent .loginButton {
        margin-top: 140px !important;
    }
    .regist .perfectInformation .loginButton {
        margin-top: 17px !important;
    }
    .regist .formContent .demo-ruleForms {
        margin-top: 15px !important;
    }
    .regist .formContent .demo-ruleForm {
        margin-top: 15px !important;
    }
    .fob-header-nav .menu {
        li {
            font-size: 14px !important;
        }
    }
    .fob-header-nav .m-login {
        div {
            font-size: 14px !important;
        }
        .userinfo .pro-user-name {
            font-size: 14px !important;
        }
    }
    .footerBtn .el-button {
        // width: 480px !important;
    }
    .header .innerInfo {
        .lineChart {
            .chartLineCl {
                width: 431px !important;
            }
            .chartLineCls {
                width: 430px !important;
            }
        }
    }
    .Agreement .el-dialog__title {
        font-size: 16px !important;
    }
}

@media (max-width: 1199px) {
    .regist .dialogAgreement .el-dialog {
        width: 400px !important;
    }
    .regist .dialogAgreement .el-dialog .el-dialog__body {
        height: 400px !important;
    }
    #Home-search {
        .homeSearchShip {
            top: auto !important;
        }
        .homeHeader {
            width: 100% !important;
            align-items: center !important;
            display: flex !important;
            .homeHeaderMap {
                background-size: 472px 301px !important;
                width: 472px !important;
                height: 301px !important;
            }
            .homeHeaderMapleft {
                img {
                    width: 495px !important;
                    height: 292px !important;
                }
            }
            .homeHeaderShip {
                background-size: 453px 220px !important;
                width: 453px !important;
                height: 220px !important;
                margin-left: 240px !important;
            }
            .homeHeaderShipRight {
                img {
                    width: 343px !important;
                    height: 247px !important;
                }
            }
        }
        .homeContent {
            .homeContentInforRight {
                background-size: 808px 1154px !important;
                width: 808px !important;
                height: 1154px !important;
            }
            .homeContentInforLeft {
                background-size: 755px 1075px !important;
                width: 755px !important;
                height: 1075px !important;
            }
        }
    }
    .loginLeftTop {
        margin-bottom: 0px !important;
    }
    .logins .formContent .loginButton {
        margin-top: 140px !important;
    }
    .regist .perfectInformation .loginButton {
        margin-top: 17px !important;
    }
    .regist .formContent .demo-ruleForms {
        margin-top: 15px !important;
    }
    .regist .formContent .demo-ruleForm {
        margin-top: 15px !important;
    }
    .fob-header-nav .menu {
        li {
            font-size: 14px !important;
        }
    }
    .fob-header-nav .m-login {
        div {
            font-size: 14px !important;
        }
        .userinfo .pro-user-name {
            font-size: 14px !important;
        }
    }
    .footerBtn .el-button {
        // width: 480px !important;
    }
    .header .innerInfo {
        .lineChart {
            .chartLineCl {
                width: 431px !important;
            }
            .chartLineCls {
                width: 430px !important;
            }
        }
    }
    .Agreement .el-dialog__title {
        font-size: 16px !important;
    }
}